[user]
    name = {{ .name }}
    email = {{ .email }}
[core]
    editor = code --wait
    autocrlf = input
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[fetch]
    prune = true
[init]
    defaultBranch = main
